.page {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  user-select: none;
}
.lists {
  flex-grow: 1;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.list {
  font-size: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0px 15px;
  text-transform: capitalize;
  font-weight: 600;
}
.listActive {
  background-color: #f0f1f6;
  padding: 16px 15px;
}
.list:hover {
  color: #1738f3;
}
@media only screen and (max-width: 728px) {
  .page {
    display: none;
  }
}
